@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 540px) {
  html {
    font-size: 16px;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url(../images/login-page-img.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }

  /* Navbar */
  .navbar {
    background: #242D41;
    color: #fff;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted #FF3F3F;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }

  .navbar ul li {
    margin-left: 1rem;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navbar a:hover {
    color: #FF3F3F;
  }

  /* Showcase */
  .showcase {
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

  }

  .showcase h1 {
    font-size: 2.7rem;
    min-width: 500px;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-bottom: 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: #242d41;
    box-shadow: 0 10px 10px white;
  }

  .showcase form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .showcase form input,
  form select {
    font-size: 20px;
    width: 500px;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form button {
    padding: 1rem 2.8rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    transition: 200ms ease;
  }

  form button:hover {
    transform: scale(1.1);
  }

  /* Tips Dropdown Menu */

  .tips-container {
    width: 500px;
  }

  .accordion-menu {
    list-style: none;
    max-width: 100vw;
    margin: 20px auto;
    background: #242d41;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px white;
  }

  .accordion-menu li:last-child .dropdown {
    border-bottom: 0;
  }

  .accordion-menu li.active .dropdown {
    color: #F23232;
  }

  .accordion-menu li.active .dropdown .fa-chevron-down {
    transform: rotate(180deg);
  }

  .dropdown {
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    border-bottom: 2px solid #2d374d;
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    transition: all 0.4s ease-out;
    cursor: pointer;
  }

  .dropdown:hover {
    background: #455f82;
    background: -webkit-gradient(linear,
        0% 0%,
        0%,
        100%,
        from(#27455c),
        to(#273a47));
  }

  .dropdown i {
    position: absolute;
    top: 17px;
    left: 16px;
    color: white;
  }

  .dropdown .fa-chevron-down {
    right: 12px;
    top: 20px;
    left: auto;
    transition: transform 0.2s ease-in-out;
  }

  .submenu-items {
    display: none;
    background: #2d374d;
    height: 20rem;
    padding: 1rem;
  }

  .accordion-menu li.active .submenu-items {
    display: block;
  }

  .submenu-items li {
    color: white;
    font-weight: 600;
    padding: 12px 12px 12px 12px;
    transition: all 0.2s ease-out;
    display: flex;
    text-align: center;
    height: 4rem;
  }

  .div.dropdown:hover {
    background: #384550;
    color: #fff;
  }

  .category-selection {
    border-bottom: 1px solid white;
    margin-bottom: .2rem;
    cursor: pointer;
  }

  .category-selection section {
    flex: 1;
  }

  .submenu-items .category-selection section:hover {
    border: 1px dotted lightgray;
    color: rgb(255, 63, 63);
  }

  .selected {
    border: 1px dotted lightgray;
    color: rgb(255, 63, 63);
  }

  /* Suggestion buttons */

  .suggestion-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .suggestion-container div button {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    margin: .5rem;
    padding: 10px 20px;
  }

  .suggestion-container div button:hover {
    background: transparent;
    border: 1px solid rgb(255, 63, 63);
    color: rgb(255, 63, 63);
    font-size: 1rem;
    margin: .5rem;
    padding: 10px 20px;
  }

  /* Suggestion buttons hidden elements */
  .suggestion-container:not(.suggestion-shown) {
    display: none;
  }

  /* Image */

  .image {
    width: 100%;
    background: transparent;
    padding: 3rem;
    max-width: 100vw;
  }

  img {
    display: block;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 6px 25px 3px rgb(255 63 63);
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .msg {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }

  .hidden-toggle {
    display: none;
  }

  .image-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  /* favorites star Icon */

  .image-container .resultsOptions {
    position: absolute;
    width: auto;
    top: 0.5em;
    left: 0em;
    font-size: 250%;
    color: black;
    display: none;
  }

  .image-container:hover .resultsOptions {
    display: flex;
    justify-content: space-between;
  }

  .resultsOptions:hover .unlock,
  .resultsOptions .lock {
    display: none;
  }

  .resultsOptions:hover .lock {
    display: inline;
    color: rgb(255, 221, 48);
    border-radius: 50%;
  }

  /* favorites star Icon alert text */

  .hovertext {
    position: relative;
  }

  .hovertext::before {
    font-size: 35%;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: -5%;
    top: -100%;
  }

  .hovertext:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

/* The following media query disables the large option for any screen size 1024px and below */

@media screen and (max-width: 1024px) {
  .large-remove {
    display: none;
  }

  .image-container .resultsOptions {
    display: flex;
    justify-content: space-between;
  }
}

/* Media Query for anything smaller than a Surface Duo */

@media only screen and (max-width: 540px) {
  html {
    font-size: 14px;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url(../images/login-page-img.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }

  /* Navbar */
  .navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }

  .navbar ul li {
    margin-left: 1rem;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navbar a:hover {
    color: rgb(255, 50, 50);
  }

  /* Showcase */
  .showcase {
    background: var(--primary-color);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    max-width: 100vw;
  }

  .showcase h1 {
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: white;
    text-align: center;
    padding: 3rem 2rem;
    display: block;
    margin: auto;
    margin-bottom: 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(70px);
    background: #333333;
    box-shadow: 9px 6px 25px 3px rgb(255 63 63);
    width: 75vw;
  }

  .showcase form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .showcase form input,
  form select {
    font-size: 20px;
    width: 75vw;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-control {
    max-width: 100vw;
  }

  form button {
    font-size: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 200ms ease;
  }

  form button:hover {
    transform: scale(1.1);
  }


  /* Image */

  .image {
    background: transparent;
    padding: 3rem;
  }

  img {
    display: block;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 6px 25px 3px rgb(255 63 63);
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .msg {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }

  .hidden-toggle {
    display: none;
  }

  .image-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  /* favorites star Icon */

  .image-container .resultsOptions {
    position: absolute;
    width: auto;
    top: 0.5em;
    left: 0em;
    font-size: 250%;
    color: black;
    display: none;
  }

  .image-container .resultsOptions {
    display: flex;
    justify-content: space-between;
  }

  .resultsOptions:hover .unlock,
  .resultsOptions .lock {
    display: none;
  }

  .resultsOptions:hover .lock {
    display: inline;
    color: rgb(255, 221, 48);
    border-radius: 50%;

  }

  .medium-remove {
    display: none;
  }

  .large-remove {
    display: none;
  }

  /* favorites star Icon alert text */

  .hovertext {
    position: relative;
  }

  .hovertext::before {
    font-size: 35%;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: -5%;
    top: -100%;
  }

  .hovertext:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

/* Media Query for Galaxy fold (smallest screen at 280px) Breaks for some reason lol, only changed the html font-size property. */

@media only screen and (max-width: 280px) {
  html {
    font-size: 10px;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url(../images/login-page-img.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }

  /* Navbar */
  .navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }

  .navbar ul li {
    margin-left: 1rem;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navbar a:hover {
    color: rgb(255, 50, 50);
  }

  /* Showcase */
  .showcase {
    background: var(--primary-color);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    max-width: 100vw;
  }

  .showcase h1 {
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: white;
    text-align: center;
    padding: 3rem 2rem;
    display: block;
    margin: auto;
    margin-bottom: 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    background: #333333;
    box-shadow: 9px 6px 25px 3px rgb(255 63 63);
    width: 75vw;
  }

  .showcase form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .showcase form input,
  form select {
    font-size: 20px;
    width: 75vw;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-control {
    max-width: 100vw;
  }

  form button {
    font-size: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 200ms ease;
  }

  form button:hover {
    transform: scale(1.1);
  }

  /* Image */

  .image {
    width: 100%;
    background: transparent;
    padding: 3rem;
  }

  img {
    display: block;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 6px 25px 3px rgb(255 63 63);
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .msg {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }

  .hidden-toggle {
    display: none;
  }

  .image-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  /* favorites star Icon */

  .image-container .resultsOptions {
    position: absolute;
    width: auto;
    top: 0.5em;
    left: 0em;
    font-size: 250%;
    color: black;
    display: none;
  }

  .image-container:hover .resultsOptions {
    display: flex;
    justify-content: space-between;
  }

  .resultsOptions:hover .unlock,
  .resultsOptions .lock {
    display: none;
  }

  .resultsOptions:hover .lock {
    display: inline;
    color: rgb(255, 221, 48);
    border-radius: 50%;
    /* background-color: #0ff; */
    /* box-shadow: */
    /* 0 0 10px 5px #fff,  inner white */
    /* 0 0 20px 10px #f0f, middle magenta */
    /* 0 0 30px 15px #0ff; outer cyan */
  }

  /* favorites star Icon alert text */

  .hovertext {
    position: relative;
  }

  .hovertext::before {
    font-size: 35%;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: -5%;
    top: -100%;
  }

  .hovertext:hover::before {
    opacity: 1;
    visibility: visible;
  }
}